{% extends 'base.html.twig' %}

{% block title %}Mes messages{% endblock %}
{% block body %}

<div class="container">


{% for message in advertisement.messages %}
    <div>{{ message.content }}</div>
    <div>{{ message.fromId }}</div>
    {% endfor %}

    {% for message in messages %}
        <div>{{ message.title }}</div>

    {% endfor %}

<br>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    <button type="submit">envoyer</button>
    {{ form_end(form) }}
<br>
<br>


</div>

{% endblock %}