{% extends 'base.html.twig' %}

{% block title %} Editer une annonce {% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <div class="container">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="espace20"></div>

            <h1 class="h1-add">Editer une annonce (Promis c'est gratuit on vous facture jamais !)</h1>
            <hr>
            <h2 class="annonce-h2">Votre annonce</h2>
            {{ form_start(form, {'attr': {'id': 'form'}}) }}
            <div class="form-group">
                {{ form_label(form.category, 'Catégorie') }}
                {{ form_widget(form.category, {'attr': {"class": "form-control"}}) }}
            </div>

            <div class="form-group">
                {{ form_label(form.title, 'Titre de l\'annonce') }}
                {{ form_widget(form.title, {'attr': {"class": "form-control"}}) }}
                <div id="res-title"></div>
            </div>

            <div class="form-group">
                {{ form_label(form.description, 'Texte de l\'annonce') }}
                {{ form_widget(form.description, {'attr': {"class": "form-control", "rows": "10", "onkeyup": "countChar(this)"}}) }}
                <div id="res-description"></div>
                <div id="res-limit"></div>
            </div>

            <div class="form-group price">
                {{ form_label(form.price, 'Prix') }}
                {{ form_widget(form.price, {'attr': {"class": "form-control price"}}) }}
                <div id="res-price"></div>
            </div>

            <h3>Sélectionnez des Photo à télécharger :</h3>
            <p><strong>Taille maximale :</strong> 2 Mo.</p>
            <p><strong>Formats supportés :</strong> png, jpeg.</p>
            <div class="form-group">
                {{ form_label(form.imageFile, 'Photo principale') }}
                {{ form_widget(form.imageFile) }}
            </div>

            <div class="form-group">
                {{ form_label(form.imageFile2, 'Photo 2') }}
                {{ form_widget(form.imageFile2) }}
            </div>

            <div class="form-group">
                {{ form_label(form.imageFile3, 'Photo 3') }}
                {{ form_widget(form.imageFile3) }}
            </div>

            <div class="form-group">
                {{ form_label(form.imageFile4, 'Photo 4') }}
                {{ form_widget(form.imageFile4) }}
            </div>

            <h2 class="annonce-h2">Localisation</h2>

            <div class="form-group">
                {{ form_label(form.address, 'Votre adresse') }}
                {{ form_widget(form.address) }}
                <div id="res-address"></div>
            </div>

            <div class="form-group">
                {{ form_label(form.region, 'Votre région') }}
                {{ form_widget(form.region) }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Valider</button>
            </div>

            {{ form_end(form) }}

        {% else %}
            <div class="espace50"></div>
            <div class="container">
                <h1 class="else-h1">Il faut être connecté pour déposer une annonce</h1>
                <h2 class="else-h2">Vous n'avez pas de compte ? <a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}"> Inscriviez vous</a> et commencer à ajouter vos annonces !</h2>
                <h3 class="else-h3">Vous êtes déjà membre ? <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}">Connecter vous</a> </h3>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    {% include('inc/js.html.twig') %}
    <script src="{{ asset('js/edit-app.js') }}"></script>
{% endblock %}