
{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}

        <ul class="pagination">

            {% if previous is defined %}
                <li class="disabled"><a href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i class="material-icons">chevron_left</i></a></li>
            {% endif %}

            {% for page in pagesInRange %}

                {% if page != current %}
                    <li class="waves-effect">
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="active blue lighten-1"><a href="#!">{{ page }}</a></li>
                {% endif %}

            {% endfor %}

            {% if next is defined %}
                <li class="waves-effect">
                    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
            {% endif %}

        </ul>

{% endif %}


