{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le bon point le site d'annonce gratuit{% endblock %}

{% block body %}

    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-4">
                <p>
                    Trouvez une bonne aiffaires parmis <span class="annonce">{{ count }} petites annonces</span> sur le bon point
                </p>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('add-advertisement') }}" class="btn btn-primary btn-lg btn-block">Déposer une annonce</a>
            {% else %}
                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary">Déposer une annonce</a>
            {% endif %}
            </div>

        <div class="map_image col-md-4">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:amcharts="http://amcharts.com/ammap" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 615 585">
                {% for region in regions %}
                <a id="" xlink:href="{{ path('region', {regionSlug: region.regionSlug}) }}" xlink:title="{{ region.title }}"><path id="" title="{{ region.title }}" class="{{ region.class }}" d="{{ region.d }}"/></a>
                {% endfor %}
            </svg>
        </div>
            <div class="col-md-4">
            {% for region in regions %}
                <div class="col-6 text-lg-right"><a href="{{ path('region', {regionSlug: region.regionSlug}) }}" class=""> {{ region.name }}</a></div>
            {% endfor %}
            </div>
        </div>

<div class="espace30"></div>
        <p>Lebonpoint est le site référent de petites annonces de particulier à particulier en France. Découvrez nos annonces voitures d'occasion,
            motos, immobilier, emploi, location de vacances, vêtements, électroménager, jouets, déco, meubles, etc...
            Déposez une annonce gratuite en toute simplicité pour vendre, donner vos biens ou promouvoir vos services. Avec
            des milliers de nouvelles annonces mises en ligne chaque jour vous trouverez l'objet d'occasion ou neuf que vous désirez.</p>
    </div>

{% endblock %}
