<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% include('inc/css.html.twig') %}
        {% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('images/icon.png') }}" sizes="32x32">
    </head>
    <body>

                           {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{{ path('index') }}">Le bon point</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="{{ path('add-advertisement') }}">Déposer une annonce <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link active" href="#">Annonces</a>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ app.user.username }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Mes annonces</a>
                                    <a class="dropdown-item" href="#">Mes infos</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}"> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
                            {% else %}
                                <header>
                                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                        <div class="container">
                                            <a class="navbar-brand" href="{{ path('index') }}">Le bon point</a>
                                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                                                <span class="navbar-toggler-icon"></span>
                                            </button>
                                            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                                                <div class="navbar-nav">
                                                    <a class="nav-item nav-link active" href="{{ path('fos_user_registration_register') }}">Déposer une annonce <span class="sr-only">(current)</span></a>
                                                    <a class="nav-item nav-link active" href="#">Annonces</a>
                                                    <a class="nav-item nav-link active" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>

                                                </div>
                                            </div>
                                        </div>
                                    </nav>
                                </header>
                            {% endif %}
        {% block body %}{% endblock %}


    <footer class="footer">
        <div class="container">
            <span class="text-muted">Le bon point 2018</span>
        </div>
    </footer>
        {% block javascripts %}
            {% include('inc/js.html.twig') %}
        {% endblock %}
    </body>
</html>
